.menu{
    width: 90%; 
    text-align: right;
    padding: 20px;
}
.logo{
    width: 10%; 
    justify-content: center; 
    align-items: center;
}
.itemMenu{
    color: #7374d6!important;
    text-decoration: none;
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}
.itemMenu:hover {
    color: rgba(148,180,112,1)!important;
    transition: 0.2s;
  }
.imgLogo{
    width: 180px; 
    height: 130px;
}
.headerContainer{
    flex-direction:row; 
    display: flex; 
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 100px;
}
body {
    margin:0;
    padding: 0;
   }